.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
TODO.md
test*
webpack*
extension*
src/**
node_modules/**
compiled-extension/**
